<!doctype html>
<html lang="fr">
    <head>
        <title>Location de vélos</title>
        <%- include ../partials/head.ejs %>
        <script type="text/javascript" src="/js/scroll.js"></script>
    </head>

    <body>
        <div id="container" class="imgback" style="padding-top: 155px;">
            <header>
                <a href="/">
                    <section class="main-top">
                        <img src="/img/main.png" alt="">
                    </section>
                </a>
            </header>
            <div id="bikes">
                <div class="pg-title">
                    <span class="main"><a href="/#sect-castle">Activités</a></span>
                    <span class="sub">Location de vélos</span>
                </div>

                <article>
                    <section style="max-width: 800px; margin: auto;">
                        <table>
                            <tr>
                                <th>VTT/VTC Adulte</th>
                                <th>VTT Enfant</th>
                                <th>Remorque enfants</th>
                                <th>Vélos Electriques H/F</th>
                            </tr>
                            <tr>
                                <td>
                                    16€ incluant :
                                    <ul>
                                        <li>Casques</li>
                                        <li>Antivols</li>
                                        <li>Portes bagages avec tendeurs</li>
                                        <li>Sièges bébé</li>
                                    </ul>
                                </td>
                                <td>
                                    12€ incluant :
                                    <ul>
                                        <li>Casques</li>
                                        <li>Antivols</li>
                                    </ul>
                                </td>
                                <td>
                                    30 € (avec VTT h/f)
                                </td>
                                <td>
                                    16€ incluant :
                                    <ul>
                                        <li>Casques</li>
                                        <li>Antivols</li>
                                        <li>Portes bagages avec tendeurs</li>
                                        <li>Sièges bébé</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <p>
                            <ul>
                                <li>Possibilité On Way Amécourt- Giverny 25€/personne minimum 4 personnes</li>
                                <li>Possibilité On Way Amécourt- Dieppe 35€/personne minumum 4 personnes</li>
                                <li>Dépôt ou reprise  des vélos à l’office de tourisme de Gisors 30€</li>
                            </ul>
                        </p>
                    </section>
                </article>
            </div>

            <%- include ../partials/footer.ejs %>

        </div>
    </body>
    <%- include ../partials/analytics.ejs %>
</html>