<!doctype html>
<html lang="fr">
  <head>
    <title>Château d'Amécourt</title>
    <%- include ../partials/head.ejs %>
  </head>
  <body>
    <div id="container" class="imgback" style="padding-top: 155px;">
      <header>
        <a href="/">
          <section class="main-top">
            <img src="/img/main.png" alt="">
          </section>
        </a>
      </header>

      <div id="castle">
        <div class="pg-title">
          <span class="main"><a href="/#sect-castle">Le Chateau</a></span>
          <span class="sub">L'histoire du château</span>
        </div>

        <article>
          <section>
            <span class="col">
              <div class="txt">
                <div>200 ans d'histoire</div><br>
                Le château d'amécourt a été construit dans la seconde moitié du XVIIIe siècle, mais différentes transformations ont modifié son aspect d'origine.
                Il est situé à proximité de l'église Saint-Hélier et  jouit d'une superbe vue sur la vallée. Parmis ses propriétaires successifs, on trouve les familles de l'Isle,
                de Fours, de Beauvais, de Harle, Sublet, Dufour de Longuerue et Lefèvre d'Amécourt. La famille Flicoteaux en fût propriétaire de 1896 jusqu'à récemment.
              </div>
            </span><span class="col img-block">
            <div class="block">
              <span class="spacer">
                <div class="img histo-2">
                </div>
              </span>
            </div>
            </span>
          </section>

          <section>
            <span class="col img-block">
              <div class="block">
                <span class="spacer">
                  <div class="img histo-3">
                  </div>
                </span>
              </div>
            </span><span class="col">
            <div class="txt">
              <div>10 ans de rénovation</div><br>
              Nouvellement acquis par la famille Beal, le château d'amécourt a été profondément rénové entre 2003 et 2013.
            </div>
            </span>
          </section>

        </article>
      </div>


      <%- include ../partials/footer.ejs %>
    </div>
  </body>
  <%- include ../partials/analytics.ejs %>
</html>