<!doctype html>
<html lang="fr">
    <head>
        <title>Château d'Amécourt</title>
        <%- include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container" class="imgback" style="padding-top: 155px;">
            <header>
                <a href="/">
                    <section class="main-top">
                        <img src="/img/main.png" alt="">
                    </section>
                </a>
            </header>

            <div id="castle">
                <div class="pg-title">
                    <span class="main"><a href="/#sect-castle">Le Chateau</a></span>
                    <span class="sub">Le lieu</span>
                </div>

                <article>

<!--
                    <section>
                        <span class="col img-block">
                        <div class="block">
                            <span class="spacer">
                                <div class="img site-1">
                                </div>
                            </span>
                        </div>
                        </span><span class="col">
                            <div class="txt">
                                <div>Un lieu d'exception</div><br>
                                Nunc viverra ullamcorper metus sit amet mollis. Fusce congue arcu id neque fermentum ullamcorper. 
                                Fusce laoreet, mauris a maximus maximus, mi metus feugiat enim, quis auctor purus odio sed turpis. 
                                Aliquam vehicula ornare mauris, sagittis malesuada tellus placerat vitae. Nunc malesuada libero arcu, in malesuada lectus finibus in. Sed a eros nibh. <br><br>
                                Praesent tempus tincidunt odio, at imperdiet est eleifend sit amet. Nulla facilisi.
                                Aliquam id diam sit amet justo elementum ultricies nec sed ex. Nam posuere dui at est tincidunt fringilla. 
                                Proin pulvinar mauris fermentum, egestas dui ut, ornare massa. Curabitur eget velit lectus. Integer at tellus lacus. 
                                Sed id quam hendrerit, convallis sapien non, facilisis neque. Integer gravida tempus nisl et tempus. Nulla nibh purus, dignissim id sapien vel, euismod commodo ante.
                            </div>
                        </span>
                    </section>

                    <section>
                        <span class="col">
                        <div class="txt">
                            <div>200 ans d'histoire</div><br>
                                Nunc viverra ullamcorper metus sit amet mollis. Fusce congue arcu id neque fermentum ullamcorper. 
                                Fusce laoreet, mauris a maximus maximus, mi metus feugiat enim, quis auctor purus odio sed turpis. 
                                Aliquam vehicula ornare mauris, sagittis malesuada tellus placerat vitae. Nunc malesuada libero arcu, in malesuada lectus finibus in. Sed a eros nibh. <br><br>
                                Praesent tempus tincidunt odio, at imperdiet est eleifend sit amet. Nulla facilisi.
                                Aliquam id diam sit amet justo elementum ultricies nec sed ex. Nam posuere dui at est tincidunt fringilla. 
                                Proin pulvinar mauris fermentum, egestas dui ut, ornare massa. Curabitur eget velit lectus. Integer at tellus lacus. 
                                Sed id quam hendrerit, convallis sapien non, facilisis neque. Integer gravida tempus nisl et tempus. Nulla nibh purus, dignissim id sapien vel, euismod commodo ante.
                        </div>
                        </span><span class="col img-block">
                            <div class="block">
                                <span class="spacer">
                                    <div class="img site-2">
                                    </div>
                                </span>
                            </div>
                        </span>
                    </section>

                    <section>
                        <span class="col img-block">
                        <div class="block">
                            <span class="spacer">
                                <div class="img site-3">
                                </div>
                            </span>
                        </div>
                        </span><span class="col">
                            <div class="txt">
                                <div>10 ans de rénovation</div><br>
                                Nunc viverra ullamcorper metus sit amet mollis. Fusce congue arcu id neque fermentum ullamcorper. 
                                Fusce laoreet, mauris a maximus maximus, mi metus feugiat enim, quis auctor purus odio sed turpis. 
                                Aliquam vehicula ornare mauris, sagittis malesuada tellus placerat vitae. Nunc malesuada libero arcu, in malesuada lectus finibus in. Sed a eros nibh. <br><br>
                                Praesent tempus tincidunt odio, at imperdiet est eleifend sit amet. Nulla facilisi.
                                Aliquam id diam sit amet justo elementum ultricies nec sed ex. Nam posuere dui at est tincidunt fringilla. 
                                Proin pulvinar mauris fermentum, egestas dui ut, ornare massa. Curabitur eget velit lectus. Integer at tellus lacus. 
                                Sed id quam hendrerit, convallis sapien non, facilisis neque. Integer gravida tempus nisl et tempus. Nulla nibh purus, dignissim id sapien vel, euismod commodo ante.
                            </div>
                        </span>
                    </section>
-->

                </article>
            </div>


            <%- include ../partials/footer.ejs %>
        </div>
    </body>
    <%- include ../partials/analytics.ejs %>
</html>