::-moz-selection {
  color: #eee;
  background-color: #85aada;
}

::selection {
  color: #eee;
  background-color: #85aada;
}

a {
  color: #3e3d40;
  text-decoration: none;
}

body {
  background-color: #fcfcfc;
}

.noty {
  display: none !important;
}

html,
body {
  height: 100%;
}

* {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 500;
  color: #3e3d40;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
input,
button,
select,
textarea,
table,
h3,
h4,
h5,
h6 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 500;
  color: #3e3d40;
  font-size: 14px;
  margin: 0;
}

h1,
h2 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
  font-weight: 200;
}

h4 {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin: 30px 0 30px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
}

#container,
header .content {
  max-width: 1600px;
  min-width: 320px;
  margin: auto;
}

#container {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  padding: 40px 0 64px 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

#container.imgback {
  background: url("../img/main-img-1-b.jpg") 50% 40% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-attachment: fixed;
}

.icons {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(/img/sprite.png) no-repeat;
  -webkit-background-size: 380px 50px;
  background-size: 380px 50px;
}

.icons.key {
  background-position: 0 0;
}

.icons.people {
  background-position: -30px 0;
}

.icons.bed {
  background-position: -60px 0;
}

.mini-icons {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/img/sprite.png) no-repeat;
  -webkit-background-size: 380px 50px;
  background-size: 380px 50px;
}

.mini-icons.wifi {
  background-position: 0 -30px;
}

.mini-icons.shower {
  background-position: -20px -30px;
}

.mini-icons.food {
  background-position: -40px -30px;
}

.mini-icons.toilet {
  background-position: -60px -30px;
}

.mini-icons.tv {
  background-position: -80px -30px;
}

.mini-icons.washing {
  background-position: -100px -30px;
}

.mini-icons.dryer {
  background-position: -120px -30px;
}

.mini-icons.parking {
  background-position: -140px -30px;
}

.mini-icons.garden {
  background-position: -160px -30px;
}

.mini-icons.cup {
  background-position: -180px -30px;
}

.mini-icons.swimmer {
  background-position: -200px -30px;
}

.mini-icons.dog {
  background-position: -220px -30px;
}

.mini-icons.guy {
  background-position: -240px -30px;
  width: 12px;
}

.mini-icons.microwave {
  background-position: -260px -30px;
}

.mini-icons.dvd {
  background-position: -280px -30px;
}

.mini-icons.towel {
  background-position: -300px -30px;
}

.mini-icons.broom {
  background-position: -320px -30px;
}

.mini-icons.campfire {
  background-position: -340px -30px;
}

.img-block .block {
  display: inline-block;
  vertical-align: top;
  height: 27vw;
  width: 33.333%;
  position: relative;
}

@media (max-width: 980px) {
  .img-block .block {
    width: 100%;
    height: 40vw;
  }
}

@media (max-width: 589px) {
  .img-block .block {
    height: 220px;
  }
}

@media (min-width: 1600px) {
  .img-block .block {
    height: 460px;
  }
}

.img-block .block .spacer {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  line-height: 27vw;
  border: solid #c7cad0 1px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f2f3f4;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 980px) {
  .img-block .block .spacer {
    line-height: 40vw;
  }
}

@media (max-width: 589px) {
  .img-block .block .spacer {
    line-height: 220px;
  }
}

@media (min-width: 1600px) {
  .img-block .block .spacer {
    line-height: 460px;
  }
}

.img-block .block .spacer:hover .cover {
  background-color: rgba(0, 0, 0, 0.2);
}

.img-block .block .spacer .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.img-block .block .spacer .title {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 0 20px;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 26px rgba(0, 0, 0, 0.6);
}

.img-block .block .spacer .title .price {
  font-size: 20px;
  color: white;
}

.btn {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  padding: 0 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 200;
  color: white;
  background-color: #3e3d40;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.btn:disabled {
  opacity: 0.4;
}

.btn:hover,
.btn:focus,
.btn.active {
  background-color: #78d7ff;
  text-decoration: none;
  outline: 0;
  color: #3e3d40;
}

.btn:hover .icon .white,
.btn:focus .icon .white,
.btn.active .icon .white {
  opacity: 1;
}

.btn:hover .icon .black,
.btn:focus .icon .black,
.btn.active .icon .black {
  opacity: 1;
}

.btn:active {
  background-color: #85aada;
}

.btn .icon {
  position: relative;
}

.btn .icon .ico {
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.btn .icon .black {
  position: absolute;
  left: 0;
  opacity: 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

header nav {
  margin: auto;
  height: 40px;
  min-width: 320px;
  max-width: 1600px;
  background: -webkit-gradient(linear, top left, bottom left, from(white), to(#ebebeb));
  background: -webkit-linear-gradient(white, #ebebeb);
  background: linear-gradient(white, #ebebeb);
  text-align: left;
}

@media (max-width: 980px) {
  header nav {
    padding-top: 40px;
  }
}

@media (max-width: 980px) {
  header nav ul {
    display: none;
  }
}

header nav ul li {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 38px;
}

@media (max-width: 980px) {
  header nav ul li {
    display: block;
    border-bottom: solid #dfdfe8 1px;
    background-color: #fdfdfd;
  }
}

@media (max-width: 980px) {
  header nav ul li.icon {
    display: none;
  }
}

header nav ul li.icon a {
  background: url("../img/logo.png") 50% 50% no-repeat;
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border-right: solid #c6c6c6 1px;
}

header nav ul li.alt {
  float: right;
}

@media (max-width: 980px) {
  header nav ul li.alt {
    width: 100%;
    padding-left: 6px;
    float: none;
  }
}

header nav ul li.alt a {
  background-color: rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  height: 30px;
  margin-right: 4px;
  border-radius: 4px;
  line-height: 31px;
}

header nav ul li a {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  padding: 0 10px;
}

header nav ul li a:hover {
  color: #989898;
}

header nav #navbutton {
  cursor: pointer;
  display: none;
  margin-top: -40px;
  background: url("../img/logo.png") 50% 50% no-repeat;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  width: 40px;
  height: 40px;
  opacity: 0.15;
  border-right: solid rgba(0, 0, 0, 0.5) 1px;
}

header nav #navbutton:hover {
  background-color: grey;
}

header nav #navbutton:active {
  background-color: #a8a8a8;
}

@media (max-width: 980px) {
  header nav #navbutton {
    display: block;
  }
}

header nav.oppened ul {
  display: block;
}

header .main-top {
  text-align: center;
  background-color: white;
}

header .main-top img {
  margin: 40px 0;
  height: 70px;
  width: 260px;
}

header .menu {
  border-top: solid #dddddd 1px;
  height: 70px;
  text-align: center;
  background-color: white;
}

header .menu a {
  display: inline-block;
  vertical-align: top;
  padding: 0 17px;
  height: 69px;
  text-decoration: none;
  color: #555555;
  line-height: 70px;
  font-size: 22px;
  font-weight: 200;
  cursor: pointer;
}

header .menu a:hover {
  background-color: #5f3110;
  color: white;
}

.pg-title {
  padding: 20px;
}

.pg-title .main {
  vertical-align: top;
  border-right: solid 1px white;
  line-height: 50px;
  padding-right: 40px;
  margin-right: 40px;
  font-size: 40px;
}

.pg-title .main a {
  letter-spacing: -2px;
  color: white;
  vertical-align: middle;
}

.pg-title .sub {
  vertical-align: top;
  font-size: 16px;
  color: white;
  line-height: 50px;
}

.pg-title span:last-child {
  border-right: none;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 20px 12px 20px;
  background-color: #fcfcfc;
}

@media (max-width: 589px) {
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

footer .col {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

@media (max-width: 980px) {
  footer .col {
    width: 50%;
  }
}

@media (max-width: 589px) {
  footer .col {
    width: 100%;
  }
}

footer .col .foot-ico {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

footer .col.left {
  width: 40%;
  text-align: left;
  line-height: 29px;
}

@media (max-width: 589px) {
  footer .col.left {
    width: 50%;
  }
}

footer .col.middle {
  width: 20%;
}

@media (max-width: 589px) {
  footer .col.middle {
    display: none;
  }
}

footer .col.right {
  width: 40%;
  text-align: right;
}

@media (max-width: 589px) {
  footer .col.right {
    width: 50%;
  }
}

footer .col a {
  font-size: 14px;
  color: #85aada;
}

footer .col a:not(:last-child) {
  padding-right: 10px;
}

@media (max-width: 589px) {
  footer .col a:not(:last-child) {
    padding-right: 4px;
  }
}

#home .carousel {
  border-bottom: solid #cfd1df 4px;
}

#home .carousel .main-title {
  position: relative;
  width: 100%;
  height: 40vw;
}

@media (max-width: 589px) {
  #home .carousel .main-title {
    height: 220px;
  }
}

@media (min-width: 1600px) {
  #home .carousel .main-title {
    height: 830px;
  }
}

#home .carousel .main-title .txt {
  font-family: "abril-titling-narrow", serif;
  position: absolute;
  z-index: 2;
  color: white;
  width: 100%;
  top: 3.5vw;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  font-size: 4.8vw;
}

@media (max-width: 589px) {
  #home .carousel .main-title .txt {
    font-size: 26px;
    top: 15px;
  }
}

@media (min-width: 1600px) {
  #home .carousel .main-title .txt {
    font-size: 80px;
    top: 50px;
  }
}

#home .carousel .main-title .prev {
  position: absolute;
  width: 66px;
  height: 100%;
  top: 0;
  background: url("../img/prev.png") 0% 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  cursor: pointer;
  z-index: 1;
}

#home .carousel .main-title .next {
  position: absolute;
  width: 66px;
  height: 100%;
  top: 0;
  right: 0;
  background: url("../img/next.png") 50% 50% no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  cursor: pointer;
  z-index: 1;
}

#home .carousel .main-title .img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

#home .carousel .main-title .img.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

#home .carousel .main-title .img.right {
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

#home .carousel .main-title .img.unanimated {
  -webkit-transition: none !important;
  transition: none !important;
}

#home .carousel .main-title .img.img-1 {
  background: url("../img/main-img-1.jpg") 50% 40% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .carousel .main-title .img.img-2 {
  background: url("../img/main-img-2.jpg") 50% 30% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .carousel .main-title .img.img-3 {
  background: url("../img/main-img-3.jpg") 50% 80% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .carousel .main-title .img.img-4 {
  background: url("../img/main-img-4.jpg") 50% 90% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .carousel .main-title .img.img-5 {
  background: url("../img/main-img-5.jpg") 50% 100% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .intro-1 {
  position: relative;
  width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
  border-bottom: solid #cfd1df 4px;
  padding: 20px 10px 60px 10px;
}

#home .intro-1 .txt {
  margin: 30px 0;
  padding: 0 20px;
  font-weight: 200;
  font-size: 22px;
  text-align: center;
}

#home .intro-1 .btn {
  margin: 6px 9px 10px 9px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

#home .intro-1 .block {
  display: inline-block;
  vertical-align: top;
  height: 27vw;
  width: 50%;
  position: relative;
}

@media (max-width: 980px) {
  #home .intro-1 .block {
    width: 100%;
    height: 40vw;
  }
}

@media (max-width: 589px) {
  #home .intro-1 .block {
    height: 220px;
  }
}

@media (min-width: 1600px) {
  #home .intro-1 .block {
    height: 460px;
  }
}

#home .intro-1 .block .spacer {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  line-height: 27vw;
  border: solid #c7cad0 1px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f2f3f4;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 980px) {
  #home .intro-1 .block .spacer {
    line-height: 40vw;
  }
}

@media (max-width: 589px) {
  #home .intro-1 .block .spacer {
    line-height: 220px;
  }
}

@media (min-width: 1600px) {
  #home .intro-1 .block .spacer {
    line-height: 460px;
  }
}

#home .intro-1 .block .spacer:hover .cover {
  background-color: rgba(0, 0, 0, 0.2);
}

#home .intro-1 .block .spacer .room {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#home .intro-1 .block .spacer .room.room-1 {
  background: url("../img/main-room-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .intro-1 .block .spacer .room.room-2 {
  background: url("../img/main-room-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .intro-1 .block .spacer .room.room-3 {
  background: url("../img/main-room-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .intro-1 .block .spacer .room.room-4 {
  background: url("../img/main-room-4.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .intro-1 .block .spacer .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

#home .intro-1 .block .spacer .title {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 0 20px;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 26px rgba(0, 0, 0, 0.6);
}

#home .intro-1 .block .spacer .title .price {
  font-size: 20px;
  color: white;
}

#home .intro-2 {
  border-bottom: solid #cfd1df 4px;
  position: relative;
  width: 100%;
  background-color: #fcfcfc;
  overflow: hidden;
  padding: 20px 10px 60px 10px;
}

#home .intro-2 .txt {
  margin: 30px 0;
  padding: 0 20px;
  font-weight: 200;
  font-size: 22px;
  text-align: center;
}

#home .intro-2 .img-block .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#home .intro-2 .img-block .img.img-1 {
  background: url("../img/main-event-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .intro-2 .img-block .img.img-2 {
  background: url("../img/main-event-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

#home .intro-2 .img-block .img.img-3 {
  background: url("../img/main-event-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

#home .intro-3 {
  border-bottom: solid #cfd1df 4px;
  position: relative;
  width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
  padding: 20px 10px 60px 10px;
}

#home .intro-3 .txt {
  margin: 30px 0;
  padding: 0 20px;
  font-weight: 200;
  font-size: 22px;
  text-align: center;
}

#home .intro-3 .img-block .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#home .intro-3 .img-block .img.img-1 {
  background: url("../img/main-castle-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

#home .intro-3 .img-block .img.img-2 {
  background: url("../img/main-castle-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

#home .intro-3 .img-block .img.img-3 {
  background: url("../img/main-castle-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

#home .map {
  position: relative;
  width: 100%;
  height: 42vw;
  border-bottom: solid #cfd1df 6px;
}

@media (max-width: 320px) {
  #home .map {
    height: 175px;
  }
}

@media (min-width: 1600px) {
  #home .map {
    height: 630px;
  }
}

.contact-container {
  background: white;
  min-height: 200px;
}

#room article {
  padding-bottom: 20px;
  border-bottom: solid #dddddd 3px;
  background-color: #fcfcfc;
}

#room article > div {
  padding: 10px;
}

#room article .summary {
  padding: 20px 10px;
  border-bottom: solid #dddddd 1px;
}

#room article .summary span {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: center;
}

#room article table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

#room article table td {
  vertical-align: top;
  padding: 20px 0;
}

#room article table td:first-child {
  width: 130px;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
}

#room article table td:last-child {
  padding-right: 20px;
}

#room article table td span {
  display: inline-block;
  vertical-align: top;
  line-height: 22px;
  padding-bottom: 4px;
}

#room article table tr:not(:last-child) td {
  border-bottom: solid #dddddd 1px;
}

#rooms article {
  padding: 40px 10px 40px 10px;
  border-bottom: solid #dddddd 3px;
  background-color: #fcfcfc;
  text-align: center;
}

#rooms article > div {
  padding: 10px;
}

#rooms .block {
  display: inline-block;
  vertical-align: top;
  height: 27vw;
  width: 33.33%;
  position: relative;
}

@media (max-width: 980px) {
  #rooms .block {
    width: 100%;
    height: 40vw;
  }
}

@media (max-width: 589px) {
  #rooms .block {
    height: 220px;
  }
}

@media (min-width: 1600px) {
  #rooms .block {
    height: 460px;
  }
}

#rooms .block .spacer {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  line-height: 27vw;
  border: solid #c7cad0 1px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f2f3f4;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 980px) {
  #rooms .block .spacer {
    line-height: 40vw;
  }
}

@media (max-width: 589px) {
  #rooms .block .spacer {
    line-height: 220px;
  }
}

@media (min-width: 1600px) {
  #rooms .block .spacer {
    line-height: 460px;
  }
}

#rooms .block .spacer:hover .cover {
  background-color: rgba(0, 0, 0, 0.2);
}

#rooms .block .spacer .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

#rooms .block .spacer .title {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 0 20px;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 26px rgba(0, 0, 0, 0.6);
}

#rooms .block .spacer .title .price {
  font-size: 20px;
  color: white;
}

.img-block.room1 .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-block.room1 .img.img-1 {
  background: url("../img/room-1-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room1 .img.img-2 {
  background: url("../img/room-1-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.img-block.room1 .img.img-3 {
  background: url("../img/room-1-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room2 .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-block.room2 .img.img-1 {
  background: url("../img/room-2-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room2 .img.img-2 {
  background: url("../img/room-2-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room2 .img.img-3 {
  background: url("../img/room-2-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room3 .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-block.room3 .img.img-1 {
  background: url("../img/room-3-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.img-block.room3 .img.img-2 {
  background: url("../img/room-3-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.img-block.room3 .img.img-3 {
  background: url("../img/room-3-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room4 .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-block.room4 .img.img-1 {
  background: url("../img/room-4-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room4 .img.img-2 {
  background: url("../img/room-4-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room4 .img.img-3 {
  background: url("../img/room-4-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

#room article {
  padding-bottom: 20px;
  border-bottom: solid #dddddd 3px;
  background-color: #fcfcfc;
}

#room article > div {
  padding: 10px;
}

#room article .summary {
  padding: 20px 10px;
  border-bottom: solid #dddddd 1px;
}

#room article .summary span {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: center;
}

#room article table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

#room article table td {
  vertical-align: top;
  padding: 20px 0;
}

#room article table td:first-child {
  width: 130px;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
}

#room article table td:last-child {
  padding-right: 20px;
}

#room article table td span {
  display: inline-block;
  vertical-align: top;
  line-height: 22px;
  padding-bottom: 4px;
}

#room article table tr:not(:last-child) td {
  border-bottom: solid #dddddd 1px;
}

#rooms article {
  padding: 40px 10px 40px 10px;
  border-bottom: solid #dddddd 3px;
  background-color: #fcfcfc;
  text-align: center;
}

#rooms article > div {
  padding: 10px;
}

#rooms .block {
  display: inline-block;
  vertical-align: top;
  height: 27vw;
  width: 33.33%;
  position: relative;
}

@media (max-width: 980px) {
  #rooms .block {
    width: 100%;
    height: 40vw;
  }
}

@media (max-width: 589px) {
  #rooms .block {
    height: 220px;
  }
}

@media (min-width: 1600px) {
  #rooms .block {
    height: 460px;
  }
}

#rooms .block .spacer {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  line-height: 27vw;
  border: solid #c7cad0 1px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f2f3f4;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 980px) {
  #rooms .block .spacer {
    line-height: 40vw;
  }
}

@media (max-width: 589px) {
  #rooms .block .spacer {
    line-height: 220px;
  }
}

@media (min-width: 1600px) {
  #rooms .block .spacer {
    line-height: 460px;
  }
}

#rooms .block .spacer:hover .cover {
  background-color: rgba(0, 0, 0, 0.2);
}

#rooms .block .spacer .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

#rooms .block .spacer .title {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 0 20px;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 26px rgba(0, 0, 0, 0.6);
}

#rooms .block .spacer .title .price {
  font-size: 20px;
  color: white;
}

.img-block.room1 .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-block.room1 .img.img-1 {
  background: url("../img/room-1-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room1 .img.img-2 {
  background: url("../img/room-1-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.img-block.room1 .img.img-3 {
  background: url("../img/room-1-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room2 .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-block.room2 .img.img-1 {
  background: url("../img/room-2-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room2 .img.img-2 {
  background: url("../img/room-2-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room2 .img.img-3 {
  background: url("../img/room-2-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room3 .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-block.room3 .img.img-1 {
  background: url("../img/room-3-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.img-block.room3 .img.img-2 {
  background: url("../img/room-3-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.img-block.room3 .img.img-3 {
  background: url("../img/room-3-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room4 .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-block.room4 .img.img-1 {
  background: url("../img/room-4-1.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room4 .img.img-2 {
  background: url("../img/room-4-2.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}

.img-block.room4 .img.img-3 {
  background: url("../img/room-4-3.jpg") 50% 50% no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}