::-moz-selection {
  color: #eee;
  background-color: #85aada;
}

::selection {
  color: #eee;
  background-color: #85aada;
}

a {
  color: #3e3d40;
  text-decoration: none;
}

body {
  background-color: #fbfbfb;
}

.noty {
  display: none !important;
}

html,
body {
  height: 100%;
}

* {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 500;
  color: #3e3d40;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
input,
button,
select,
textarea,
table,
h3,
h4,
h5,
h6 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 500;
  color: #3e3d40;
  font-size: 14px;
  margin: 0;
}

h1,
h2 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
  font-weight: 200;
}

h4 {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin: 30px 0 30px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
}

#container,
header .content {
  max-width: 1600px;
  min-width: 320px;
  margin: auto;
}

#container {
  overflow: hidden;
  min-height: 100%;
  padding: 40px 0 120px 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

header nav {
  margin: auto;
  height: 40px;
  min-width: 320px;
  max-width: 1600px;
  background: -webkit-gradient(linear, top left, bottom left, from(white), to(#ebebeb));
  background: -webkit-linear-gradient(white, #ebebeb);
  background: linear-gradient(white, #ebebeb);
  text-align: left;
}

@media (max-width: 980px) {
  header nav {
    padding-top: 40px;
  }
}

@media (max-width: 980px) {
  header nav ul {
    display: none;
  }
}

header nav ul li {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 38px;
}

@media (max-width: 980px) {
  header nav ul li {
    display: block;
    border-bottom: solid #b5b5b5 1px;
    background-color: #fdfdfd;
  }
}

@media (max-width: 980px) {
  header nav ul li.icon {
    display: none;
  }
}

header nav ul li.icon a {
  background: url("../img/logo.png") 50% 50% no-repeat;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  width: 40px;
  height: 40px;
  opacity: 0.15;
  border-right: solid rgba(0, 0, 0, 0.5) 1px;
}

header nav ul li.alt {
  float: right;
}

header nav ul li.alt a {
  background-color: rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  height: 30px;
  margin-right: 4px;
  border-radius: 4px;
  line-height: 31px;
}

header nav ul li a {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  padding: 0 10px;
}

header nav ul li a:hover {
  color: #989898;
}

header nav .button {
  display: none;
  margin-top: -40px;
  background: url("../img/logo.png") 50% 50% no-repeat;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  width: 40px;
  height: 40px;
  opacity: 0.15;
  border-right: solid rgba(0, 0, 0, 0.5) 1px;
}

@media (max-width: 980px) {
  header nav .button {
    display: block;
  }
}

#home .main-title {
  position: relative;
  width: 100%;
  height: 54vw;
}

@media (max-width: 320px) {
  #home .main-title {
    height: 175px;
  }
}

@media (min-width: 1600px) {
  #home .main-title {
    height: 830px;
  }
}

#home .main-title .txt {
  font-family: "abril-titling-narrow", serif;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 70px;
  width: 100%;
  top: 50px;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

#home .main-title .prev {
  position: absolute;
  width: 66px;
  height: 100%;
  top: 0;
  background: url("../img/prev.png") 50% 50% no-repeat;
  -webkit-background-size: 50%;
  background-size: 50%;
  cursor: pointer;
  z-index: 1;
}

#home .main-title .next {
  position: absolute;
  width: 66px;
  height: 100%;
  top: 0;
  right: 0;
  background: url("../img/next.png") 50% 50% no-repeat;
  -webkit-background-size: 50%;
  background-size: 50%;
  cursor: pointer;
  z-index: 1;
}

#home .main-title .img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

#home .main-title .img.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

#home .main-title .img.right {
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

#home .main-title .img.unanimated {
  -webkit-transition: none !important;
  transition: none !important;
}

#home .main-title .img.img-1 {
  background: url("../img/main-img-1.jpg") 50% 40% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .main-title .img.img-2 {
  background: url("../img/main-img-2.jpg") 50% 30% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .main-title .img.img-3 {
  background: url("../img/main-img-3.jpg") 50% 80% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .main-title .img.img-4 {
  background: url("../img/main-img-4.jpg") 50% 90% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

#home .main-title .img.img-5 {
  background: url("../img/main-img-5.jpg") 50% 100% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}