#bikes{

    article{
        padding: 20px;
        border-bottom: solid $grey-4 3px;
        background-color: $grey-0;
        &>div{padding: 10px;}

        section{
            &:not(:last-child){border-bottom: solid rgb(207, 209, 223) 6px;}
            padding: 30px 0 60px 0;

            table {
                width: 100%;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th,td {
                padding: 15px;
            }
        }
    }
}