header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;

    nav{
        margin: auto;
        height: 40px;
        min-width: $break-xsmall;
        max-width: $break-xlarge;
        background: linear-gradient(#fff, #ebebeb);
        text-align: left;
        @media (max-width: $break-medium){padding-top: 40px;}

        ul{
            @media (max-width: $break-medium){display: none;}

            li{
                display: inline-block;
                vertical-align: top;
                height: 40px;
                line-height: 38px;

                @media (max-width: $break-medium){
                    display: block;
                    border-bottom: solid #dfdfe8 1px;
                    background-color: #fdfdfd;
                }

                &.icon{
                    @media (max-width: $break-medium){display: none;}

                    a{
                        background: url("../img/logo.png") 50% 50% no-repeat;
                        background-size: 40px 40px;
                        width: 40px;
                        height: 40px;
                        border-right: solid $grey-6 1px;
                    }
                }

                &.alt{
                    float: right;

                    @media (max-width: $break-medium){
                        width: 100%;
                        padding-left: 6px;
                        float: none;
                    }

                    a{
                        background-color: rgba(0, 0, 0, 0.10);
                        vertical-align: middle;
                        height: 30px;
                        margin-right: 4px;
                        border-radius: 4px;
                        line-height: 31px;
                    }
                }

                a{
                    //                background-color: red;
                    display: inline-block;
                    vertical-align: top;
                    height: 40px;
                    padding: 0 10px;
                    &:hover{color: #989898;}
                }
            }
        }

        #navbutton{
            cursor: pointer;
            display: none;
            margin-top: -40px;
            background: url("../img/logo.png") 50% 50% no-repeat;
            background-size: 30px 30px;
            width: 40px;
            height: 40px;
            opacity: 0.15;
            border-right: solid rgba(0, 0, 0, 0.5) 1px;
            &:hover{background-color: grey;}
            &:active{background-color: #a8a8a8;}

            @media (max-width: $break-medium){display: block;}
        }

        &.oppened ul{
            display: block;
        }
    }

    .main-top{
        text-align: center;
        background-color: white;

        img{
            margin: 40px 0;
            height: 70px;
            width: 260px;
        }

    }

    .menu{
        border-top: solid $grey-4 1px;
        height: 70px;
        text-align: center;
        background-color: white;
        @media (max-width: $break-medium){display: none;}

        a{
            display: inline-block;
            vertical-align: top;
            padding: 0 17px;
            height: 69px;
            text-decoration: none;
            color: #555555;
            line-height: 70px;
            font-size: 22px;
            font-weight: 200;
            cursor: pointer;

            &:hover{
                background-color: #5f3110;
                color: white;
            }
        }
    }
}

.pg-title{
    padding: 20px;

    .main { 
        vertical-align: top;
        border-right: solid 1px white;
        line-height: 50px;
        padding-right: 40px;
        margin-right: 40px;
        font-size: 40px;
        color: white;
        letter-spacing: -2px;

        a {
            letter-spacing: -2px;
            color: white;
            vertical-align: middle;
        }
    }

    .sub{
        vertical-align: top;
        font-size: 16px;
        color: white;
        line-height: 50px;
    }

    span:last-child{border-right: none;}
}