#home{
    .main-title{
        width: 100%;
        height: 54vw;
        background: url("../img/main-img.jpg") 50% 40% no-repeat;
        background-size: 100%;

        @media (max-width: $break-xsmall){height: 175px;}
        @media (min-width: $break-xlarge){height: 830px;}
        position: relative;


        //        #main-logo{
        //            position: absolute;
        //            top: 45vw;
        //            left: 50%;
        //            width: 500px;
        //            height: 100px;
        //            margin-left: -250px;
        //            background: url("../img/main-logo.png") 50% 30% no-repeat;
        //            background-size: 100%;
        //        }
    }


    .prev{
        position: absolute;
        width: 66px;
        height: 100%;
        top: 0;
        background: url("../img/prev.png") 50% 50% no-repeat;
        background-size: 50%;
        cursor: pointer;
    }

    .next{
        position: absolute;
        width: 66px;
        height: 100%;
        top: 0; right: 0;
        background: url("../img/next.png") 50% 50% no-repeat;
        background-size: 50%;
        cursor: pointer;
    }

}