.icons{
    display: inline-block;
    width: 30px; height: 30px;
    background: url(/img/sprite.png) no-repeat;
    background-size: 120px 50px;

    &.key{background-position: 0 0;}
    &.people{background-position: -30px 0;}
    &.bed{background-position: -60px 0;}
}

.mini-icons{
    display: inline-block;
    width: 20px; height: 20px;
    background: url(/img/sprite.png) no-repeat;
    background-size: 120px 50px;

    &.wifi{background-position: 0 -30px;}
    &.shower{background-position: -20px -30px;}
    &.food{background-position: -40px -30px;}
    &.toilet{background-position: -60px -30px;}
    &.tv{background-position: -80px -30px;}
}
