<footer>
    <div class="desktop">
        <div class="col left">
            <a href="mailto:alain@chateau-amecourt.com">Contact</a>
            <a href="http://www.gites-de-france-eure.com/location-vacances-Gite-Amecourt-27G971.html" target="_blank">Gîtes de France</a>
            <a href="https://www.airbnb.fr/rooms/3082962" target="_blank">Airbnb</a>
            <div class="fb-like" data-href="https://www.facebook.com/pages/Chateau-dAm&amp;#xe9;court/638053629637396" data-width="30" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div><div class="col middle">
        <img class="foot-ico" src="/img/foot-main.png">
        </div><div class="col right">
        <a href="https://www.facebook.com/pages/Chateau-dAmécourt/638053629637396" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-1.png"></a>
        <a href="http://www.tripadvisor.fr/Hotel_Review-g7237705-d7235539-Reviews-Chateau_d_Amecourt-Amecourt_Eure_Haute_Normandie_Normandy.html" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-2.png"></a>
        <a href="https://plus.google.com/110284274820161845658" rel="publisher" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-3.png"></a>
        <a href="https://www.google.fr/maps/place/26+Amecourt,+27140+Amecourt/@49.1724473,2.0699506,10z/data=!4m2!3m1!1s0x47e720573f3d9a23:0xeda42caf5c2b2c86" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-4.png"></a>
        </div>
    </div>

    <div class="mobile">
        <div class="col right">
            <a href="mailto:alain@chateau-amecourt.com" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-5.png"></a>
            <a href="http://www.gites-de-france-eure.com/location-vacances-Gite-Amecourt-27G971.html" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-6.png"></a>
            <a href="https://www.airbnb.fr/rooms/3082962" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-7.png"></a>
            <a href="https://www.facebook.com/pages/Chateau-dAmécourt/638053629637396" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-1.png"></a>
            <a href="http://www.tripadvisor.fr/Hotel_Review-g7237705-d7235539-Reviews-Chateau_d_Amecourt-Amecourt_Eure_Haute_Normandie_Normandy.html" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-2.png"></a>
            <a href="https://plus.google.com/110284274820161845658" rel="publisher" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-3.png"></a>
            <a href="https://www.google.fr/maps/place/26+Amecourt,+27140+Amecourt/@49.1724473,2.0699506,10z/data=!4m2!3m1!1s0x47e720573f3d9a23:0xeda42caf5c2b2c86" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-4.png"></a>
        </div>
    </div>

    <div class="seo-footer">
        <div class="col left">
            <ul>
                <li><a href="/events">Location de Château abordable</a></li>
                <li><a href="/events">Mariage & Evénement de famille</a></li>
                <li><a href="/rooms">Chambre d'hôte proche de Gisors, Paris et Giverny</a></li>
            </ul>
        </div>
        <div class="col right">
            <ul>
                <li><a href="/castle/bikes">Location de Vélo proche de Giverny & Gisors</a></li>
                <li><a href="/rooms">Gîte et chambres d'hôtes</a></li>
                <li><a href="/rooms">Chambres d'hôtes au Château</a></li>
            </ul>
        </div>
    </div>
</footer>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=766390670063004&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>