<footer>
    <div class="desktop">
        <div class="col left">
            <a href="mailto:contact@chateau-amecourt.com">Contact</a>
            <a href="http://www.gites-de-france-eure.com/location-vacances-Gite-Amecourt-27G971.html" target="_blank">Gîtes de France</a>
            <a href="https://www.airbnb.fr/rooms/3082962" target="_blank">Airbnb</a>
        </div><div class="col middle">
        <img class="foot-ico" src="/img/foot-main.png">
        </div><div class="col right">
        <a href="https://www.facebook.com/pages/Chateau-dAmécourt/638053629637396" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-1.png"></a>
        <a href="#" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-2.png"></a>
        <a href="https://plus.google.com/110284274820161845658" rel="publisher" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-3.png"></a>
        <a href="https://www.google.fr/maps/place/26+Amecourt,+27140+Amecourt/@49.1724473,2.0699506,10z/data=!4m2!3m1!1s0x47e720573f3d9a23:0xeda42caf5c2b2c86" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-4.png"></a>
        </div>
    </div>

    <div class="mobile">
        <div class="col right">
            <a href="mailto:contact@chateau-amecourt.com" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-5.png"></a>
            <a href="http://www.gites-de-france-eure.com/location-vacances-Gite-Amecourt-27G971.html" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-6.png"></a>
            <a href="https://www.airbnb.fr/rooms/3082962" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-7.png"></a>
            <a href="https://www.facebook.com/pages/Chateau-dAmécourt/638053629637396" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-1.png"></a>
            <a href="#" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-2.png"></a>
            <a href="https://plus.google.com/110284274820161845658" rel="publisher" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-3.png"></a>
            <a href="https://www.google.fr/maps/place/26+Amecourt,+27140+Amecourt/@49.1724473,2.0699506,10z/data=!4m2!3m1!1s0x47e720573f3d9a23:0xeda42caf5c2b2c86" target="_blank" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-4.png"></a>
        </div>
    </div>

    <center>
        <div class="fb-like" data-href="https://www.facebook.com/pages/Chateau-dAm&#xe9;court/638053629637396" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </center>
</footer>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=766390670063004&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>