<footer>
    <div>
        <div class="col left">
            <a href="#">Contact</a>
            <a href="http://www.gites-de-france-eure.com/location-vacances-Gite-Amecourt-27G971.html">Gîtes de France</a>
            <a href="https://www.airbnb.fr/rooms/3082962?checkin=02%2F10%2F2014&checkout=03%2F10%2F2014&s=1Lmn">Airbnb</a>
            <a href="#">TripAdvisor</a>
        </div><div class="col middle">
        <img class="foot-ico" src="/img/foot-main.png">
        </div><div class="col right">
        <a href="#" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-1.png"></a>
        <a href="#" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-2.png"></a>
        <a href="#" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-3.png"></a>
        <a href="#" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-4.png"></a>
        </div>
    </div>
</footer>