<div class="contact-container mfp-hide">
    <form class="contact" action="/book" method="post" accept-charset="utf-8" style="">
        <p class="error" style="display:none">Il y a eu un problème, vous pouvez nous contacter par email si il persiste.</p>
        <div class="title">Réserver une chambre</div>

        <fieldset>

            <div>
                <span style="display: inline-block; width: 50%; padding-right: 5px;">
                    <div class="field" style="margin: 0;">
                        <label for="arrival">
                            <span class="form-ico from"></span>
                        </label>
                        <input id="arrival" name="arrivalDate" type="date" class="form-control input-md">
                    </div>
                </span><span style="display: inline-block; width: 50%; padding-left: 5px;">
                <div class="field" style="margin: 0;">
                    <label for="departure">
                        <span class="form-ico to"></span>
                    </label>
                    <input id="departure" name="departureDate" type="date" class="form-control input-md">
                </div>
                </span>
            </div>

            <div class="field">
                <label for="room">
                    <span class="form-ico room"></span>
                </label>
                <input id="room"
                       name="room"
                       type="string"
                       class="form-control input-md"
                       placeholder="Chambre">
            </div>

            <div class="field">
                <label for="guest-count">
                    <span class="form-ico guests"></span>
                </label>
                <input id="guest-count"
                       name="guestCount"
                       type="number"
                       class="form-control input-md"
                       placeholder="Nombre de personnes">
            </div>

            <div class="field">
                <label for="email">
                    <span class="form-ico mail"></span>
                </label>
                <input id="email"
                       name="email"
                       type="email"
                       placeholder="Email"
                       class="form-control input-md">
            </div>

            <div class="field">
                <label for="phone">
                    <span class="form-ico phone"></span>
                </label>
                <input id="phone"
                       name="phone"
                       type="phone"
                       class="form-control input-md"
                       placeholder="Téléphone">
            </div>

            <div class="field">
                <label for="email">
                    <span class="form-ico user"></span>
                </label>
                <input id="name"
                       name="name"
                       type="text"
                       placeholder="Prénom & Nom"
                       class="form-control input-md">
            </div>


            <!--
<div class="form-group">
<div class="label">
<label class="control-label" for="textarea">Précisez votre demande</label>
</div>
<div class="field">
<textarea class="form-control" id="textarea" name="content"></textarea>
</div>
</div>
-->

            <button id="submit" name="submit" class="btn" style="width: 100%; height: 42px;">Envoyer la demande</button>


            <div style="font-size: 14px; color: #ADACAC; margin: 30px 0 10px 0;">
                Pour toute autre demande, veuillez nous écrire<br>à l'adresse <a href="mailto:alain@chateau-amecourt.com">alain@chateau-amecourt.com</a>
            </div>
        </fieldset>
    </form>
    <div class="success" style="display:none;">
        <p>Votre demande d'information a bien été prise en compte. Nous reviendrons vers vous dans les plus brefs délais.</p>
        <a class="btn close">Close</a>
    </div>
</div>
