<header>
    <section class="main-top">
        <img src="/img/main.png" alt="">
        <div class="menu">
            <a href="#sect-castle">le chateau</a>
            <a href="#sect-events">Les réceptions</a>
            <a href="#sect-rooms">le gîte et les chambres d'hotes</a>
        </div>
    </section>
</header>


<!--
<script>
    document.getElementById('navbutton').addEventListener('click', function() {
        var nav = document.getElementById('main-nav');
        if (nav.className.indexOf('oppened') == -1){
            nav.className = 'oppened';
        } else {
            nav.className = '';
        }
    }, false);
</script>
-->
