<header>
    <nav>
       <div class="button"></div>
       
        <ul class="nav">
            <li class="icon"><a href="/"></a>
            </li><li><a href="/chateau">Le château</a>
            </li><li><a href="/chambres-d-hote">Les chambres d'hôte</a>
            </li><li><a href="/gite">Le gite</a>
            </li><li><a href="/activites">Les activités</a>
            </li><li><a href="/evenements">Mariages et évènements</a>
            </li><li class="alt"><a href="/ reserver">Réserver une chambre</a>
        </ul>
    </nav>
</header>