<!doctype html>
<html lang="fr">
    <head>
        <title>Château d'Amécourt</title>
        <%- include ../partials/head.ejs %>
    </head>
    <body>
        <div id="container" class="imgback" style="padding-top: 155px;">
            <header>
                <a href="/">
                    <section class="main-top">
                        <img src="/img/main.png" alt="">
                    </section>
                </a>
            </header>

            <div id="room">
                <% if (room == 1) { %>
                <%- include ./room1.ejs %>
                <% } else if (room == 2) { %>
                <%- include ./room2.ejs %>
                <% } %>
            </div>

            <%- include ../partials/footer.ejs %>
        </div>
    </body>
</html>