<div class="pg-title">
    <span class="main">Les chambres</span>
    <span class="sub">La chambre verte</span>
</div>

<article>
    <div class="summary">
        <span>
            <div class="icons key"></div>
            <div class="title">2 chambres</div>   
        </span><span>
            <div class="icons people"></div>
            <div class="title">4 personnes</div>   
        </span><span>
            <div class="icons bed"></div>
            <div class="title">2 lits doubles</div>   
        </span><span>
            <div class="title">65€</div>   
        </span><span>
<a class="btn" href="">Réserver !</a>
        </span>
    </div>


    <div class="features">
        <div>
            <span class="mini-icons tv"></span>
            <span>Télé</span>
        </div>
    </div>    
</article>


