<!doctype html>
<html lang="fr">
    <head>
        <title>Château d'Amécourt</title>
        <%- include partials/head.ejs %>
    </head>
    <body>
        <%- include partials/header.ejs %>
        <div id="container">
            <section class="mid" style="padding-bottom: 0;">
                admin
                <a href="logout">logout</a>
            </section>

            <%- include partials/footer.ejs %>

        </div>
    </body>
</html>