<!doctype html>
<html lang="fr">
    <%- include partials/head.ejs %>
    <body>
        <%- include partials/header.ejs %>
        <div id="container">

            <p>Réserver</p>

            <%- include partials/form.ejs %>

            <%- include partials/footer.ejs %>

        </div>
    </body>
</html>