<!doctype html>
<html lang="fr">
    <head>
        <title>Château d'Amécourt</title>
        <%- include partials/head.ejs %>
    </head>
    <body>
        <%- include partials/header.ejs %>
        <div id="container">

            <p>Réserver</p>

            <%- include partials/form.ejs %>

            <%- include partials/footer.ejs %>

        </div>
    </body>
</html>