<!doctype html>
<html lang="fr">
    <head>
        <title>Réserver</title>
        <%- include partials/head.ejs %>
    </head>
    <body>
        <div id="container" style="padding-top: 155px;">
            <header>
                <a href="/">
                    <section class="main-top">
                        <img src="/img/main.png" alt="">
                    </section>
                </a>
            </header>

            <div class="pg-title">
                <span class="main">Le Chateau</span>
                <span class="sub">Le lieu</span>
            </div>

            <%- include partials/form.ejs %>


            <%- include partials/footer.ejs %>
        </div>
    </body>
</html>