<!doctype html>
<html lang="fr">
  <head>
    <title>Château d'Amécourt : Séminaires & Chambres d'hôtes</title>
    <%- include partials/head.ejs %>
    <script type="text/javascript" src="/js/scroll.js"></script>
  </head>

  <body>
    <div id="container" class="imgback" style="padding-top: 155px;">
      <header>
        <a href="/">
          <section class="main-top">
            <img src="/img/main.png" alt="">
          </section>
        </a>
      </header>
      <div id="events">
        <div class="pg-title">
          <span class="main"><a href="/#sect-events">Evénements</a></span>
          <a href="#convention"><span class="sub">Votre séminaires au château</span></a>
        </div>

        <article>
          <section id="convention">
            <div class="txt-bloc">
              <h1>Des séminaires d'exception</h1>
              <p>
                Envie d'organiser un séminaire au vert proche de Paris ? Le Château d'Amécourt est fait pour vous.
                Bénéficiant d'un espace de travail confortable avec tables, projecteurs et paperboard, il suffit de venir avec le minimum dont vous avez besoin pour effectuer votre séminaire.
              </p>
              <p>
                Ping Pong, Piscine, BabyFoot, Détente à la campagne, vos pauses seront bien remplies. Envie d'organiser une activité de team building ? N'hésitez pas à prendre contact avec nous, nous pourrons vous proposer des activités à réaliser sur place ou dans les environs pour compléter votre séminaire.
              </p>
              <p class="btns">
                <!--<a class="btn" target="_blank" href="/files/mariages-et-receptions.pdf">Téléchargez notre plaquette tarifaire</a>-->
                <a class="btn book" href="mailto:alain@chateau-amecourt.com">Contactez-nous</a>
              </p>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-2">
                    </div>
                  </span>
                </div>
              </div>

              <h1>Equipements disponible</h1>
              <p>
                - Une salle de 170 m²<br />
                - Equipement audio & vidéo professionnel<br />
                - Chambres d'hôtes & gîte jusqu'à 16 couchages<br />
              </p>
              <p>
                Nous pouvons vous recommander des prestataires pour tous vos besoins (traiteur etc...) qui ont l'habitude travailler au Château d'Amécourt.
              </p>
              <p>
                Le choix des partenaires pour l'organisation d'un séminaire est cependant laissé complètement libre.
                Il n'y a pas de droit de bouchon.
              </p>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-4">
                    </div>
                  </span>
                </div>
              </div>
              
              <p style="text-align: center;">
                Retrouvez plus d'information sur les sites de nos partenaires
              </p>
              <!--<p class="btns">
                <a class="btn" target="_blank" href="https://www.mariages.net/chateau-mariage/chateau-amecourt--e136220">mariages.net</a>
                <a class="btn" target="_blank" href="http://www.1001salles.com/mariage/CHATEAU-D-AMECOURT.aspx">1001 salles</a>
                <a class="btn" target="_blank" href="http://www.1001mariages.com/page/ma-salle/detail?salle=19930">1001 mariages</a>
              </p>-->
              
            </div>
          </section>
        </article>
      </div>

      <%- include partials/footer.ejs %>

    </div>
  </body>
  <%- include partials/analytics.ejs %>
</html>