<!doctype html>
<html lang="fr">
    <head>
        <title>Château d'Amécourt : Séminaires, Mariage & Chambres d'hôtes</title>
        <%- include partials/head.ejs %>
    </head>
    <body>
        <div id="container">

            <p>Organisation d'évènements</p>

            <%- include partials/footer.ejs %>

        </div>
    </body>
    <%- include partials/analytics.ejs %>
</html>