<!doctype html>
<html lang="fr">
    <head>
        <title>Château d'Amécourt : Séminaires, Mariage & Chambres d'hôtes</title>
        <%- include partials/head.ejs %>
        <script type="text/javascript" src="/js/scroll.js"></script>
    </head>

    <body>
        <div id="container" class="imgback" style="padding-top: 155px;">
            <header>
                <a href="/">
                    <section class="main-top">
                        <img src="/img/main.png" alt="">
                    </section>
                </a>
            </header>
            <div id="events">
                <div class="pg-title">
                    <span class="main"><a href="/#sect-events">Evénements</a></span>
                    <a href="#wedding"><span class="sub">Mariages - </span></a>
                    <a href="#convention"><span class="sub">Séminaires - </span></a>
                    <a href="#partners"><span class="sub">Equipements & Partenaires</span></a>

                </div>

                <article>
                    <section id="wedding">
                        <span class="col img-block">
                            <div class="block">
                                <span class="spacer">
                                    <div class="img event-1">
                                    </div>
                                </span>
                            </div>
                        </span>
                        <span class="col">
                            <div class="txt">
                                <div>Mariages</div>
                                <br />
                                Le Château d'Amécourt est le lieu idéal pour organiser votre mariage. Le cadre majestueux du château et de sa pelouse, l'église ancienne et sa grande salle refaite entièrement sauront vous convaincre. La salle de 170 m² peut accueillir jusqu'à 170 personnes dont une partie peuvent être hébergés sur place. Des tables sont disponibles, ainsi qu'un matériel de DJ, une sonorisation et des lumières professionnelles.
                            </div>
                        </span>
                    </section>
                    <section id="convention">
                        <span class="col">
                            <div class="txt">
                                <div>Séminaires</div>
                                <br />
                                Envie d'organiser un séminaire au vert proche de Paris ? Le Château d'Amécourt est fait pour vous.<br />
                                Bénéficiant d'un espace de travail confortable avec tables, projecteurs et paperboard, il suffit de venir avec le minimum dont vous avez besoin pour effectuer votre séminaire.<br />
                                Ping Pong, Piscine, BabyFoot, Détente à la campagne, vos pauses seront bien remplies. Envie d'organiser une activité de team building ? N'hésitez pas à prendre contact avec nous, nous pourrons vous proposer des activités à réaliser sur place ou dans les environs pour compléter votre séminaire.
                            </div>
                        </span>
                        <span class="col img-block">
                            <div class="block">
                                <span class="spacer">
                                    <div class="img event-2">
                                    </div>
                                </span>
                            </div>
                        </span>
                    </section>
                    <section id="partners">
                        <span class="col img-block">
                            <div class="block">
                                <span class="spacer">
                                    <div class="img event-1">
                                    </div>
                                </span>
                            </div>
                        </span>
                        <span class="col">
                            <div class="txt">
                                <div>Equipements disponible</div>
                                <br />
                                <ul>
                                    <li>Une salle de 170 m²</li>
                                    <li>Equipement audio & vidéo professionnel</li>
                                    <li>Chambres d'hôtes & gîte jusqu'à 16 couchages</li>
                                </ul>
                                <div>Prestataires & Partenaires</div>
                                <br />
                                Nous pouvons vous recommander des prestataires pour tous vos besoins (traiteur etc...) qui ont l'habitude travailler au Château d'Amécourt.<br />
                                Le choix des partenaires pour l'organisation d'un mariage ou d'un séminaire est cependant laissé complètement libre. Il n'y a pas de droit de bouchon.<br />

                            </div>
                        </span>
                    </section>
                </article>
            </div>

            <%- include partials/footer.ejs %>

        </div>
    </body>
    <%- include partials/analytics.ejs %>
</html>