<!doctype html>
<html lang="fr">
    <%- include partials/head.ejs %>
    <body>
        <%- include partials/header.ejs %>
        <div id="container">
            <section id="main-title">
                <!--<div id="main-logo"></div>-->
            </section>
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et arcu eu nunc aliquam luctus vel ac nisi. Duis accumsan fringilla leo quis sodales. Nullam egestas tristique ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec turpis lectus, pellentesque at iaculis eget, aliquet sit amet leo. Aenean vehicula mauris sed turpis mattis, eu venenatis urna vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam molestie enim nibh, nec posuere arcu euismod eget. Ut porttitor molestie dapibus. Nam ullamcorper purus eu ex sagittis, ut euismod nulla auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam enim tellus, porttitor et facilisis eget, hendrerit id diam. Cras nisl odio, tincidunt sed justo a, mollis blandit urna. Pellentesque maximus scelerisque iaculis. Duis pretium nunc sed faucibus sagittis. Etiam facilisis tortor nec libero fringilla, sit amet commodo sapien pulvinar. Vivamus vehicula velit ut lacus vehicula, nec egestas magna malesuada. Integer commodo volutpat pharetra </p>-->
            
            
            <%- include partials/footer.ejs %>

        </div>
    </body>
</html>