<!doctype html>
<html lang="fr">
    <%- include partials/head.ejs %>
    <body>
        <%- include partials/header.ejs %>
        <div id="container">
            <section id="home">



                <div class="main-title">
                    <div class="prev"></div>
                    <div class="next"></div>
                    
                </div>

                



            </section>
            <%- include partials/footer.ejs %>
        </div>
    </body>
</html>