<!doctype html>
<html lang="fr">
    <head>
        <title>Château d'Amécourt</title>
        <%- include partials/head.ejs %>
    </head>
    <script type="text/javascript" src="/js/map.js"></script>

    <body>
        <%- include partials/header.ejs %>
        <div id="container">
            <section id="home">

                <section class="carousel">
                    <div class="main-title">
                        <div id="mainprev" class="prev"></div>
                        <div id="mainnext" class="next"></div>
                        <div class="txt">Chateau d'Amécourt</div>

                        <div class="img img-1 current"></div>
                        <div class="img img-2 right"></div>
                        <div class="img img-3 right"></div>
                        <div class="img img-4 right"></div>
                        <div class="img img-5 right"></div>
                    </div>
                </section>

                <script>
                    document.getElementById('mainprev').addEventListener('click', function() {
                        var currentImg = document.getElementsByClassName('img current')[0],
                            currentNum = parseInt(/img-(\d+)/.exec(currentImg.className)[1], 10),
                            nextNum;

                        if(currentNum > 1){
                            nextNum = currentNum - 1;
                        } else {
                            nextNum = 5;
                        }

                        var nextImg = document.getElementsByClassName('img-' + (nextNum).toString())[0];
                        currentImg.className = 'img img-' + (currentNum).toString();
                        nextImg.className += ' current';

                        if (nextImg.className.indexOf('left') == -1) {
                            nextImg.className = 'img left unanimated img-' + (nextNum).toString();
                        }

                        setTimeout(function(){
                            nextImg.className = 'img current img-' + (nextNum).toString();
                            currentImg.className += ' right';
                        }, 20);
                    }, false);

                    document.getElementById('mainnext').addEventListener('click', function() {
                        var currentImg = document.getElementsByClassName('img current')[0],
                            currentNum = parseInt(/img-(\d+)/.exec(currentImg.className)[1], 10),
                            nextNum;

                        if(currentNum < 5){
                            nextNum = currentNum + 1;
                        } else {
                            nextNum = 1;
                        }

                        var nextImg = document.getElementsByClassName('img-' + (nextNum).toString())[0];
                        currentImg.className = 'img img-' + (currentNum).toString();
                        nextImg.className += ' current';

                        if (nextImg.className.indexOf('right') == -1) {
                            nextImg.className = 'img right unanimated img-' + (nextNum).toString();
                        }

                        setTimeout(function(){
                            nextImg.className = 'img current img-' + (nextNum).toString();
                            currentImg.className += ' left';
                        }, 20);
                    }, false);

                </script>

                <section class="intro-1">
                    <div class="txt">
                        <div>Un séjour au coeur de la nature</div>
                        A 80Km de Paris, le Château d'Amécourt et son parc de 8 hectares vous accueillent pour un séjour dépaysant.
                    </div>

                    <!--
<div class="block">
<div class="spacer">
<div class="txt">
<div>Un séjour au coeur de la nature</div>
A 80Km de Paris, le Château d'Amécourt et son parc de 8 hectares vous accueillent pour un séjour dépaysant.
</div>
</div>
</div>
-->
                    <div class="block">
                        <a class="spacer" href="/chambres-d-hote">
                            <div class="room room-1">
                                <div class="cover">
                                    <div class="title">La chambre verte<br/><div class="price">2 pers. | 65€/nuit</div></div>
                                </div>
                            </div>
                        </a>
                    </div><div class="block">
                    <a class="spacer" href="/chambres-d-hote">
                        <div class="room room-2">
                            <div class="cover">
                                <div class="title">La maison de chasse<br/><div class="price">4 pers. | 95€/nuit</div></div>
                            </div>
                        </div>
                    </a>
                    </div><div class="block">
                    <a class="spacer" href="/chambres-d-hote">
                        <div class="room room-3">
                            <div class="cover">
                                <div class="title">Le gîte rural<br/><div class="price">5 pers. | 350€/semaine</div></div>
                            </div>
                        </div>
                    </a>
                    </div><div class="block">
                    <a class="spacer" href="/chambres-d-hote">
                        <div class="room">
                            <div class="cover">
                                <div class="title" style="color: black; text-shadow: none;">Voir toutes les chambres</div>
                            </div>
                        </div>
                    </a>
                    </div>

                    <!--                    <div class="btn">Voir toutes les chambres</div>-->

                </section>

                <section class="intro-2">
                    <div class="txt">
                        <div>Un lieu d'exception pour vos réceptions</div>
                        Ici, écrire un texte qui fasse le lien vers les pages mariages, évènements associatifs, équipement, et partenaires.
                    </div>

                    <div class="block" style="height: 60vw;">
                        <div class="spacer">
                            <div class="event event-1"></div>
                        </div>
                    </div><div class="block">
                    <div class="subspacer">
                        <div class="spacer">


                        </div>
                    </div>
                    <div class="subspacer">
                        <div class="spacer">
                            <div class="event event-2"></div>
                        </div>
                    </div>
                    </div>
                </section>

                <section class="map">
                    <div id="map-canvas" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
                </section>

            </section>
            <%- include partials/footer.ejs %>
        </div>



    </body>
</html>