<!doctype html>
<html lang="fr">
  <head>
    <title>Château d'Amécourt : Séminaires, Mariage & Chambres d'hôtes</title>
    <%- include partials/head.ejs %>
    <script type="text/javascript" src="/js/scroll.js"></script>
  </head>

  <body>
    <div id="container" class="imgback" style="padding-top: 155px;">
      <header>
        <a href="/">
          <section class="main-top">
            <img src="/img/main.png" alt="">
          </section>
        </a>
      </header>
      <div id="pictures">
        <div class="pg-title">
          <span class="main"><a href="/#sect-events">Photos</a></span>
        </div>

        <article>
          <section id="wedding">
            <div class="txt-bloc">

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img pics-1">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img pics-2">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-1">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-2">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-3">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-4">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img histo-1">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img histo-2">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img histo-3">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img site-1">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img img-1">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img img-2">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img img-3">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img img-4">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img img-5">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img room-1">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img room-2">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img room-3">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img room-4">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img food">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img imgc-2">
                    </div>
                  </span>
                </div>
              </div>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img imgc-3">
                    </div>
                  </span>
                </div>
              </div>

            </div>
          </section>
        </article>
      </div>

      <%- include partials/footer.ejs %>

    </div>
  </body>
  <%- include partials/analytics.ejs %>
</html>