<!doctype html>
<html lang="fr">
  <head>
    <title>Château d'Amécourt : Séminaires, Mariage & Chambres d'hôtes</title>
    <%- include partials/head.ejs %>
    <script type="text/javascript" src="/js/scroll.js"></script>
  </head>

  <body>
    <div id="container" class="imgback" style="padding-top: 155px;">
      <header>
        <a href="/">
          <section class="main-top">
            <img src="/img/main.png" alt="">
          </section>
        </a>
      </header>
      <div id="weddings">
        <div class="pg-title">
          <span class="main"><a href="/#sect-events">Evénements</a></span>
          <a href="#wedding"><span class="sub">Votre mariage au château</span></a>
        </div>

        <article>
          <section id="wedding">
            <div class="txt-bloc">
              <h1>L’organisation</h1>
              <p>
                Le château d’Amécourt vous permet d’organiser votre mariage selon vos désirs.
                Accueillez vos invités lors du vin d’honneur que vous pourrez organiser sur l’une des
                pelouses du parc ou au bord de la piscine.
                Poursuivez votre réception par le dîner dans la salle entièrement rénovée d’une capacité de
                150 personnes. Les boiseries, les briques, les poutres apparentes et l’éclairage nocturne du
                château charmeront vos invités.
              </p>
              <p>
                Dansez dans la salle entièrement équipée par un matériel son et lumière haut de gamme jusqu’au bout de la nuit.
                Recevez vos convives dans les chambres du château.
              </p>
              <p class="btns">
                <a class="btn" target="_blank" href="/files/mariages-et-receptions.pdf">Téléchargez notre plaquette tarifaire</a>
                <a class="btn book" href="mailto:alain@chateau-amecourt.com">Contactez-nous</a>
              </p>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-1">
                    </div>
                  </span>
                </div>
              </div>

              <h1>Les prestations</h1>
              <h2>• Location de la salle et de sa piste de danse</h2>
              <p>Salle de 220m2 entièrement rénovée avec baies vitrées, briques, et poutres apparentes. La salle offre une magnifique vue sur le parc
                et le château qui est éclairé la nuit pour créer une atmosphère magique. Vous pouvez recevoir aisément jusqu’à 150 personnes.
                La salle est facilement accessible aux personnes à mobilité réduite. La location de salle s’effectue de 14h le jour de votre
                cérémonie jusqu’à 11h le lendemain. Il n’y a pas de limite concernant la musique.
              </p>
              <h2>• Accès au parc du château</h2>
              <p>Le parc du château est entièrement à votre disposition. Il est composé de 2 pelouses de chacune 1/2 hectare, d’un bois de 5
                hectares et d’un pré de 2 hectares. Vous pouvez organiser votre cocktail où vous le souhaitez.
              </p>
              <h2>• Accès et sécurisation de la piscine</h2>
              <p>Au coeur du parc, vous avez accès à la piscine chauffée (6mx12m) du château et sa terrasse de 350m2 entièrement aménagée.
                L’accès à la piscine est sous votre entière responsabilité. La baignade est cependant interdite pendant la cérémonie afin
                d’éviter tout accident. La baignade est autorisée le lendemain. Vous pouvez organiser votre cocktail autour de la piscine.
              </p>
              <h2>Cuisine entièrement aménagée pour le traiteur</h2>
              <p>
                Une cuisine ultra-moderne attenante à la salle est mise à la disposition de votre traiteur pour que votre repas et le service soient parfaits.
              </p>
              <h2>• Un régisseur</h2>
              <p>
                Un professionnel de l’organisation sera à votre disposition pour accueillir vos prestataires (DJ, traiteur, fleuristes, ...)
                et leur montrer les lieux afin que votre célébration se déroule sans accroc.
              </p>
              <h2>• Parking</h2>
              <p>
                Vous aurez à votre disposition un parking à l’intérieur de la propriété avec une capacité de 70 voitures. Un deuxième parking de
                2 voitures pour les personnes à mobilité réduite se situe à proximité de la salle.
              </p>
              <h2>• Nettoyage de la salle avant et après la réception</h2>
              <p>
                La location inclut le nettoyage avant et après votre cérémonie.
              </p>
              <h2>• Tables et chaises</h2>
              <p>
                20 tables de 1,53m de diamètre (8 personnes),
                5 tables de 1,22m de diamètre (6 personnes),
                10 tables rectangulaires (1,83x0,76m) à hauteur variables (table ou buffet) sont à votre disposition pour organiser votre dîner,
                160 chaises type bistro (pouvant être habillées).
              </p>
              <h2>• Droit de bouchon, droit de service</h2>
              <p>
                Le château d’Amécourt ne perçoit aucun droit de bouchon ni droit de service.
              </p>
              <p class="btns">
                <a class="btn" target="_blank" href="/files/mariages-et-receptions.pdf">Téléchargez notre plaquette tarifaire</a>
                <a class="btn book" href="mailto:alain@chateau-amecourt.com">Contactez-nous</a>
              </p>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-2">
                    </div>
                  </span>
                </div>
              </div>

              <h1>Les options</h1>
              <h2>• Retour de noces</h2>
              <p>
                Le retour de noces vous permet de prolonger votre cérémonie en étendant la location de la salle jusqu’à 17h le lendemain.
                Cela vous permet de recevoir vos invités autour d’un petit-déjeuner, d’un brunch et d’un déjeuner. Cette option n’est
                pas disponible pour un mariage du vendredi au samedi.
              </p>
              <h2>• Location du gîte de 8 chambres</h2>
              <p>
                La location du gîte attenant à la salle vous permet d’être hébergé sur le lieu de la fête. Le gîte offre 15
                couchages avec 4 salles d’eau. Elle inclut le linge de lit, le linge de toilette et le petit-déjeuner pour chacun
                des hôtes. Possibilité également de prolonger la location du gîte selon les disponibilités.
              </p>
              <h2>• Location du château</h2>
              <p>
                La location du château vous donne accès à son rez-de-chaussée incluant une salle à manger, un salon, une bibliothèque,
                aux 3 chambres pour 2 personnes chacune équipée de leur salle de bain et une suite nuptiale. La location inclut le linge de
                toilette, le linge de lit et le petit-déjeuner pour tous les hôtes. Possibilité de prolonger la location du château selon les disponibilités.
              </p>
              <h2>• Lit supplémentaire dans le château</h2>
              <p>
                Vous pouvez louer des lits supplémentaires pour augmenter le nombre de couchages dans les chambres du château.
                La location du lit supplémentaire inclut le linge de toilette, le linge de lit et le petit-déjeuner.
              </p>
              <h2>• Location des chambres insolites</h2>
              <p>
                Dans le parc du château, vous avez la possibilité de louer un tipi et une tente de prospecteur complétement aménagés
                (plancher en parquet, véritables lits). Ces tentes contiennent au total 5 couchages. La location inclut une salle
                d’eau pour les 2 tentes, le linge de lit, le linge de toilette et le petit-déjeuner.
              </p>
              <h2>• Location du matériel son et lumière</h2>
              <p>
                La location du matériel son et lumière inclut un vidéoprojecteur (projection de l’image à plusieurs endroits dans la salle),
                la sonorisation de la salle (enceintes, platines, table de mixage, ...), la sonorisation de la piste de danse, l’éclairage
                d’ambiance de la salle et le jeu de lumière pour animer votre soirée. Le matériel proposé est du matériel professionnel
                (pionner, hortus audio, lab gruppen) utilisé dans les discothèques.
              </p>
              <h2>• Location de pagode</h2>
              <p>
                La location de tentes de réception de type pagode de 16m2 (4mx4m) inclut le montage et le démontage
                de la structure. Il vous permet d’organiser votre vin d’honneur dans le parc ou près de la piscine.
              </p>
              <h2>• Location de nappes</h2>
              <p>
                Vous avez la possibilité de louer des nappes blanches pour décorer la salle
              </p>
              <h2>• Location de housses de chaise</h2>
              <p>
                Pour décorer votre salle, vous pouvez louer des housses de chaise blanches.
              </p>
              <h2>• Traiteur</h2>
              <p>
                Nous vous proposons notre service de traiteur pour organiser votre cocktail ou votre dîner.
                Détails de la prestation et tarif sur demande uniquement.
              </p>
              <h2>• Gestion de vos boissons</h2>
              <p>
                Nous vous proposons d’organiser pour vous l’achat, la réception et la conservation en cave de vos boissons
                pour votre cérémonie. Nous pouvons vous proposer un carte des vins et alcool et de reprendre les bouteilles non-ouvertes.
              </p>
              <h2>• DJ</h2>
              <p>
                Pour animer votre soirée, nous vous proposons le service de DJs qui ont l’habitude de travailler
                dans notre salle. Détails de la prestation et tarif sur demande uniquement.
              </p>
              <h2>• Enfants</h2>
              <p>
                Votre mariage est aussi une journée de fête pour les enfants. Nos baby-sitters agréés pourront s’occuper de tous les enfants afin que vos invités profite pleinement de cette journée exceptionnelle. Possibilité également de louer une structure gonflable. Tarif sur demande uniquement.
              </p>
              <h2>• Chauffage</h2>
              <p>
                Option chauffage de la salle. Tarif sur demande.
              </p>
              <p class="btns">
                <a class="btn" target="_blank" href="/files/mariages-et-receptions.pdf">Téléchargez notre plaquette tarifaire</a>
                <a class="btn book" href="mailto:alain@chateau-amecourt.com">Contactez-nous</a>
              </p>

              <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-3">
                    </div>
                  </span>
                </div>
              </div>

              <h1>La réservation</h1>

              <p>
                Possibilité de visiter l’ensemble du domaine sur rendez-vous.
              </p>
              <p>
                Vous pouvez choisir de mettre une option de réservation qui sera valide pendant 15 jours.
                La réservation est effective à la date d’encaissement de l’acompte représentant 30% du montant total.
              </p>
              <p>
                Les différentes options doivent être choisies au plus tard 30 jours avant le mariage.
              </p>
              <p>
                Le solde est à régler en deux fois:<br />
                - La moitié du solde est à régler 60 jours avant votre cérémonie.<br />
                - L’autre moitié est à régler 30 jours avant.
              </p>
              
               <div class="col img-block">
                <div class="block">
                  <span class="spacer">
                    <div class="img event-4">
                    </div>
                  </span>
                </div>
              </div>
              

              <p style="text-align: center;">
                Retrouvez plus d'information sur les sites de nos partenaires
              </p>
              <p class="btns">
                <a class="btn" target="_blank" href="https://www.mariages.net/chateau-mariage/chateau-amecourt--e136220">mariages.net</a>
                <a class="btn" target="_blank" href="http://www.1001salles.com/mariage/CHATEAU-D-AMECOURT.aspx">1001 salles</a>
                <a class="btn" target="_blank" href="http://www.1001mariages.com/page/ma-salle/detail?salle=19930">1001 mariages</a>
              </p>
            </div>
          </section>
        </article>
      </div>

      <%- include partials/footer.ejs %>

    </div>
  </body>
  <%- include partials/analytics.ejs %>
</html>